.login-container {
  display: flex;
  margin-top: 60px;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
}

.greeting-container {
  margin-left: 20px; /* Adjust the spacing as needed */
}

h2.for-Login {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}






































/* LoginPage.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.login-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px; /* Adjust as needed */
}

.header-text {
  font-size: 3.2rem;
  color: #e7e7e7;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.for-Login {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button,
.forgot-password-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  margin-top: 50px;
  background-color: #007bff;
  color: #fff;
}

.forgot-password-button {
  background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  margin-top: 25px;
}
